
.outside{
  margin-bottom: 20px;
}
.img-container{
  height: 15em;
  width: 14rem;

}
#pic{
margin: auto;
}
.card-text:hover{
  color: white;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.5);
  opacity: .3;
}

.card{
  height: 20em;
  width: 20em;
}