#about_me{
  background: url("./../../images/paulPic.jpeg");
  background-position: center;
  background-size: cover;
}

#about_text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  z-index: 3;
  width: 400px;
  color: black;
  margin: auto;
  box-shadow: 0 8px 6px -6px black;
}

#about_title{
  color: firebrick;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 3px white;
  font-size: 6em;
  margin-top: .5em;
}
#link_box{
  margin: auto;
  margin-top: 1rem;
  box-shadow: 0 8px 6px -6px black;

}
