
h1, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#move_box {
  background-color: red;
  color: white;
  width: 200px;
  position: relative;
  animation: box 5s infinite;
  opacity: 80%;
  font-size: 22px;
}

#move_box:visited{
  color: white;
}

@keyframes box {
  0%   {background-color:red; left:0vw; top:0px;}
  25%  {background-color:yellow; left:80vw; top:0px;}
  50%  {background-color:blue; left:80vw; top:10vh;}
  75%  {background-color:green; left:0vw; top:10vh;}
  100% {background-color:red; left:0vw; top:0px;}
}

#background{
  color: darkslategray;
  font-family: 'Arvo', serif;
}
