@keyframes slideleft {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slideright {
  0% {
    margin-bottom: 85%;
    width: 300%;
  }

  50% {
    margin-bottom: 0%;
    width: 100%;
  }
  55% {
    margin-bottom: 15%;
    width: 100%;
  }
  60% {
    margin-bottom: 25%;
    width: 100%;
  }
  85% {
    margin-bottom: 85%;
    width: 300%;
  }
  95% {
    margin-bottom: 95%;
    width: 300%;
  }
  100% {
    margin-bottom: 100%;
    width: 300%;
  }
}
#outside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#land {
  animation-name: slideup;
  animation-duration: 4s;
  animation-iteration-count: initial;
}
@keyframes slideleft {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(3600deg);
  }
}
/* .landing {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
.landNav {
  width: 100vw;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: easein;
  animation-duration: 4s;
  animation-iteration-count: initial;
}
@keyframes easein {
  0% {
    margin-top: 100%;
  }
  100% {
    margin-top: 0%;
  }
}
@keyframes grow {
  0% {
    height: 1em;
  }
  100% {
    height: 0em;
  }
}

#outside {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 0.6, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.box div {
  position: relative;
  height: 0px;
  width: 0px;

  border-right: 100px solid transparent;
  border-bottom: 70px solid rgba(225, 225, 225);
  border-left: 100px solid transparent;

  transform: rotate(35deg);
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation-duration: 3s;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation-duration: 7s;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation-duration: 9s;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation-duration: 10s;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation-duration: 6s;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation-duration: 12s;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation-duration: 15s;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation-duration: 16s;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation-duration: 9s;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation-duration: 5s;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

#text{
  padding: 1rem;
  margin: auto;
  text-align: center;
  width: 70%;
}
@media screen and (max-width: 400px) {
  #intro{
    font-size: 2rem;
  }
  #cube{
    font-size: 1rem;
  }
  #text{
    font-size: .7rem;
    width: 100%;
  }
  #info{
    font-size: 1rem;;
    padding: .3rem;
    width: 100%;


  }
  #links {
    display: flex;
    justify-content: space-between;
    justify-content: center;

    padding: 2px;
    background-color: rgba(109, 107, 107, 0.5);
  }
  #name {
    font-size: 4rem;
    padding: 0;
    margin: 0 auto;
  }
  #tab1,
  #tab2,
  #tab3 {
    font-size: 1.7rem;
    padding: 0;
    margin: 0 auto;
  }
  #tab1:hover,
  #tab2:hover,
  #tab3:hover {
    transform: scale(1.3);
  }
  #tab1,
  #tab2,
  #tab3 {
    font-size: 20;
    border: black solid 2px;
    display: inline-block;
    margin: 10px auto;
    padding: 1rem;
  }
  .landNav {
    top: 25%;
    margin: 0;
    padding: 0;
  }
  #outside {
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}
