#tab{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3em;
  color: gainsboro;
  background-blend-mode: darken;
}

#name{
  
  animation: pulse 5s infinite;
  
}

#name:hover{

  animation: spin 5s infinite;
  color: darkcyan;
}

@keyframes pulse {
  0%, 100% {
    color: white;
  
  }
  50% {
    color: lightgray;
    
  }
}

@keyframes spin {
  from {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
  to {
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

#logo {
  animation: logoSpin 3s infinite;
}


@keyframes logoSpin {
  from {
    -moz-transform: rotateX(-360deg);
    -ms-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
  to {
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

